.invalid {
  border: 2px solid red;
}
body{
  background-image: url('https://www.w3schools.com//w3images/forestbridge.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
